:root{
  /* --card-shadow: 0 7.5rem 10rem -5rem var(--color-dark-blue-shaodw); */
      --color-border: rgba(151, 151, 151, 0.15);
}
*,::after,::before{
  margin: 0;
  padding: 0;

}
body{
height: 100vh;
color: white;
font-family: 'Spartan', sans-serif;

}

/* home-page */
.hero{

  width: 100%;
  height: 120vh;
  background-color: black;
  background: rgba(65, 52, 52, 0.507) no-repeat center center/cover;
  background-image: url("images/homepage/hero-bg-desktop.jpg");

}
.home{

  padding-left: 150px;
  padding-right: 0;
  padding-top: 70px;
  margin-right: 600px;
  font-weight: lighter;
  line-height: 2.0rem;
}
.t-heading,.t-para,.BUTTON_ALO{
  margin-left: 20px;
}
.dine{
  font-size: 55px;
  font-weight:600;
}
.t-heading{
  font-size: 60px;
  font-weight: 300;
  margin-top: 120px;
  line-height: 4.5rem;
  min-width: 550px;
}
.t-para{
  font-size: 18px;
  font-weight: 300;
  margin-top: 50px;
  margin-right: 300px;
  min-width: 450px;
}
.BUTTON_ALO {
  transition: 0.8s;
  margin-top: 40px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   width: 200px;
   padding: 8px 25px;

   font-size: 15px;
   letter-spacing: 1px;
   font-weight:300;
   background-color: #0A0B0B;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   text-transform: uppercase;
   display: inline-block;

   text-align: center;
}

.BUTTON_ALO:hover {
   background: #F0F0F0;;
   border: solid #000000 1px;
   border-radius: 0;
   text-decoration: none;
   color:#000000;
}
/* middle Section */
.enjoyable-section{
  display: flex;

}
.curve-right{
  position:relative;
  z-index: -1;
  top: 230px;
  /* left: 100px; */
  width: 900px;
  height: 320px;
}
.enjoyable-desk{
  position: relative;
  box-shadow: 0px 65px 200px -5rem #384255;

  right: 690px;
  bottom: 80px;
  z-index: 1;
}
.t2-text{
  position: relative;
  z-index: 1;
  right: 570px;
  top: 170px;

}
.t2-text p:not(.t2-para){
  font-weight: 500;
  font-size:13px;
  color: #9E7F66;
}
.t2-minus{
  width: 60px;
  height: 1.5px;
  margin-bottom: 2.5px;
  margin-right: 10px;

}
.t2-heading{
  color: #242b37;
  width: 400px;
  font-size: 40px;
  line-height: 3.5rem;
  margin-top: 50px;
  display: inline-block;
  min-width: 400px;
}
.t2-para{
  color: #242b37;
  width: 450px;
  font-size: 17px;
  line-height: 1.9rem;
  margin-top: 20px;
}
.middle-food{
  display: flex;
  flex-direction: row-reverse;
}
.curve-left{
  width: 900px;
  height: 320px;

}
.locally-sourced{
  position: relative;
  left: 690px;
  top: 45px;
  box-shadow: 0 -50px 100px -5rem #384255;
  display: block;
  object-fit: cover;
}
.curve-left{
  position: relative;
  top: 365px;
  /* right: 10px; */
}
.food-text{
  color: #000000;
  position: relative;
  left: 550px;
  top: 235px;
}
.food-text p:not(.food-para){
  font-weight: 500;
  font-size:13px;
  color: #9E7F66;
}
.food-minus{
  width: 70px;
  height: 1.7px;
  margin-bottom: 2px;
  /* margin-right: 5px; */

}
.food-heading{
  margin-top: 50px;
  position: relative;
  /* left: 500px; */
  color: #242b37;
  width: 400px;
  font-size: 40px;
  line-height: 3.5rem;
}
.food-para{
  margin-top: 20px;
  position: relative;
  /* left: 400px; */
  color: #242b37;
  width: 420px;
  font-size: 17px;
  line-height: 1.9rem;
}
.lines{
  position: relative;
  z-index: 2;
  width: 160px;
  height: 75px;
  bottom: 200px;
  left: 1060px;
}
/* t3 starts */
.t3{

  position: relative;
  z-index: -3;
  bottom: 35px;
  height: 110vh;
  background-color: #111111;
}
.t3-main{
  height: 100vh;

  display: flex;

  align-items:center;
  justify-content: center;
  margin: 0 200px;
  /* margin-top: 100px; */
  color: #ffffff;
}
.t3-high{
  /* background-color: #ffffff; */
  /* border: 2px solid red; */
  width: 200px;
  height: 500px;
  margin-top: 170px;
  padding-left: 5px;
  flex: 1 0 auto;
}
.t3-photos{
  /* background-color: #ffffff; */
  /* border: 2px solid blue; */
  width: 200px;
  height: 500px;
  padding-left: 20px;
  margin-top: 285px;
  flex: 1 0 auto;
}
.t3-first_half p:not(.t3-para)
{
  color: #9E7F66;
  font-size: 13px;
  font-weight: 400;
}
.t3-minus{
  width: 70px;
  height: 1.4px;
  margin-bottom: 2.4px;
}
.t3-heading{
  /* color: #242b37; */
  /* width: 400px; */
  font-size: 40px;
  line-height: 3.5rem;

}
.t3-para{
  /* color: #242b37; */
  width: 460px;
  min-width: 450px;
  font-size: 18px;
  line-height: 1.9rem;
  margin-top: 15px;

}
.t3-first_half-text{
  margin-top: 30px;
  /* border: 2px solid blue; */
}
.photo-1,.photo-2,.photo-3{
  display: flex;
  margin-bottom: 25px;
  /* flex-direction: column; */
}
.photo-1-text,.photo-2-text,.photo-3-text{
  margin-left: 20px;
  margin-top: 3px;
  line-height: 1.8rem;
  min-width: 350px;
}
.t3-photos-para_1,.t3-photos-para_2,.t3-photos-para_3{
  margin-top: 7px;
font-weight: 400;
font-size: 15px;
}
.photo-2,.photo-3{
  margin-top: 25px;

}
.photo-minus{
  margin-top: 15px;
  position: relative;
  right: 6px;
  z-index: -1;
  height: 1.0px;
  width: 70px;
  object-fit: cover;
}
.hr{
  border: .5px  solid var(--color-border) ;
  /* background-color: #000000;
  color: #000000; */
}
/* t4 */
.t4{
  height: 110vh;
  display: flex;
  background-color: black;
  position: relative;
  bottom: 35px;

}
.t4-photo{
  height: 110vh;
  background-color: #ffffff;
  /* border: 1px solid red; */
  flex: 1 0 auto;
  max-width: 57.5%;
}
.t4-description{
  height: 110vh;
  background-color: #ffffff;
  /* border: 2px solid blue; */
  flex: 1 0 auto;
}

.box1{

  width : 540px;
  height: 320px;

  /* background-color: red; */

}
.t4-curve{
  width: 100%;
  height: 100%;
  border-top-right-radius: 105px;
}
.sec-1{
  width: 100px;
  height: 100px;
}
.t4-events{
 height: 75%;
 width: 63%;
 position: relative;
 bottom: 160px;
 left: 210px;
 background-color: #000000;
 background-image: url("images/homepage/family-gathering-desktop.jpg");
  object-fit: cover;
  margin: 0;
  transition: 1.5s;
  box-shadow: 0px 65px 200px -5rem #384255;
}
.t4-lines{
  position: absolute;
  top: 125px;
  left: 173px;
  z-index: 1;
}
.t4-description{
  max-width: 44%;

}
.t4-heading{

font-size: 40px;
}
.t4-text{
  padding-top: 225px;
color: #000000;
  text-align: left;
  padding-left: 20px;
  display: none;
}
.t4-para{
  margin-top: 20px;
  font-size: 18px;
  width: 460px;
  height: 100px;
  line-height: 1.9rem;
}
.t4-link{
  color: #000000;
}
.t4-text a{
  margin-left: 0;
  margin-top: 55px;
  padding: 7px 22px;
}
.description-arrows{
  width: 100px;
  height: 1.7px;
  margin-bottom: 2.5rem;
  background-color: #ffffff;


}
.t4-arrows{
  display: flex;
  flex-direction:column;
  position: absolute;
  left: 740px;
  top: 600px;
}
.arrow-display{
  height: 1.4px;
  opacity: 0.5;
}

.arrow-index{
  margin-top: 80px;
}
.t4-idx{
color: #000000;
padding-left: 20px;
font-size: 14px;
letter-spacing: .1rem;
font-weight: 600;
color: 	#969696;
margin-bottom: 25px;
text-transform: uppercase;
}


.font-black{
  color: #000000;
  font-weight:bold;
}
/* t5 */

.t5{
  width: 100%;
  height: 66vh;
  background-color: #111111;
  margin-top: 90px;
}
.t5-photo{

  height: 33vh;
  /* background: rgba(65, 52, 52, 0.507) no-repeat center right/cover; */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("images/booking/hero-bg-desktop.jpg");

}
.t5-text{
  display: flex;
  margin-left: 210px;
  padding-top: 100px;
}
.t5-button{
  background: none;
  margin-top: 0;
  margin-left: 200px;
  margin-bottom:30px;
  padding: 5px 20px;
  position:relative;
  bottom: 5px;
}
.t5-heading{
  font-size: 40px;
}
.t5-details{
  display: flex;
  margin:80px;
  margin-left: 200px;
}
.t5-dine{
  font-size: 45px;
  font-weight: 600;
}
.t5-address{
  text-transform: uppercase;
  line-height: 1.8rem;
  font-size: 14px;
  margin-left: 170px;
  letter-spacing: 1px;

}
.t5-time{
  text-transform: uppercase;
  line-height: 1.8rem;
  font-size: 14px;
  margin-left: 170px;
  letter-spacing: 1.4px;
}
